<%= form_with(model: formato, local: true) do |form| %>
  <% if formato.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(formato.errors.count, "error") %> prohibited this formato from being saved:</h2>

      <ul>
      <% formato.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
