<p id="notice"><%= notice %></p>

<h1>Formatos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formatos.each do |formato| %>
      <tr>
        <td><%= formato.name %></td>
        <td><%= link_to 'Show', formato %></td>
        <td><%= link_to 'Edit', edit_formato_path(formato) %></td>
        <td><%= link_to 'Destroy', formato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formato', new_formato_path %>
