<!DOCTYPE html>
<html>
  <head>
    <title>VideoClub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div>
        <h1>Video Club</h1>
      </div>
      <ul>
        <a href="/orders"><li>Orders</li></a>
        <a href="/cassettes"><li>Cassettes</li></a>
        <a href="/castings"><li>Castings</li></a>
        <a href="/actors"><li>Actors</li></a>
        <a href="/movies"><li>Movies</li></a>
        <a href="/formatos"><li>Formatos</li></a>
        <a href="/members"><li>Members</li></a>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
